<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Framework Used</string>
		<key>subTitle</key>
		<string>SDWebImage 
Used for image downloading and caching.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Unit Testing</string>
		<key>subTitle</key>
		<string>Added unit testing for User list and flickr recent posts. Added Networking mocking</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Design Pattern</string>
		<key>subTitle</key>
		<string>1.MVVM
 2.Singleton 
3.Observable Pattern</string>
	</dict>
</array>
</plist>
