<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   TechnologyModel.plist
   Poject

   Created by jeevan tiwari on 05/04/20.
   Copyright (c) 2020 jeevan tiwari. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
